<template>
  <div class="conatainer">
    <h1>Orders</h1>
    <div class="orders">
        <div v-for="order in oldOrders" :key="order.id" class="order">
            <h4>{{ order.title }}</h4>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Orders',
  computed: mapGetters(['oldOrders']),
};
</script>

<style scoped>
.orders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.order {
    background: #2c3e50;
    color: #ffffff;
    margin: 2rem;
}
</style>
