<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <p>Order passed: {{oldOrders.length}}</p>
    <div class="order" v-show="order.length > 0">
        <ul>
            <li v-for="item in order" :key="item.id"> {{item.title}} </li>
        </ul>
        <button class="button" @click="orderMenu(order)">Commander</button>
    </div>
    <div class="products">
        <div class="product" v-for="product in allProducts" :key="product.id">
            <h4>{{ product.title }}</h4>
            <i @click="pushProduct(product)" class="fas fa-plus"></i>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'HomePage',
  props: {
    msg: String,
  },
  computed: {
    ...mapGetters(['allProducts', 'order', 'oldOrders']),
  },
  methods: {
    ...mapActions(['pushProduct', 'orderMenu']),
  },
};
</script>

<style scoped>
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product {
    background: #42b983;
    color: #ffffff;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background: #2c3e50;
    padding: 1rem;
    color: #ffffff;
}
i {
    margin-left: 2rem;
    cursor: pointer;
}
</style>
